# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- Dependencies ---
/node_modules
/.pnp
.pnp.js

# --- Testing & Build Outputs ---
/dist
/.next/
/out/
/build

# --- Environment & Local Secrets ---
.env
.env*.local

# --- Vercel ---
.vercel

# --- IDEs & OS Files ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db